body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6fc;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #4f46e5, #d946ef);
    padding: 16px 24px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.app-subtitle {
    font-size: 13px;
    opacity: 0.9;
}

.connect-btn {
    padding: 8px 16px;
    background: #ffffff33;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.wallet-pill {
    margin-left: 10px;
    background: #ffffff33;
    padding: 8px 14px;
    border-radius: 10px;
}

/* MAIN */
.container {
    width: 95%;
    max-width: 1100px;
    margin: 30px auto;
}

.page-title {
    font-size: 26px;
    margin-bottom: 5px;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 30px;
}

/* CANDIDATES GRID */
.candidates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 22px;
}

/* CARD */
.candidate-card {
    background: white;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: transform .25s, box-shadow .25s;
}

.candidate-card:hover {
    transform: translateY(-4px);
}

.candidate-card.selected {
    border: 2px solid #4f46e5;
    box-shadow: 0 0 18px rgba(79, 70, 229, .5);
}

.hidden-radio {
    display: none;
}

.candidate-inner {
    text-align: center;
}

.cand-img {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 10px;
}

.position {
    color: #6b7280;
}

.select-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* VOTE BUTTON */
.vote-btn {
    width: 100%;
    margin-top: 35px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 16px;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
}

/* POPUP */
.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.popup-card {
    background: white;
    padding: 22px;
    border-radius: 14px;
    width: 320px;
    text-align: center;
}

.close-btn {
    margin-top: 14px;
    padding: 8px 16px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}





